In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pc\anaconda3\lib\site-packages (9.4.0)Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
import pandas as pd
conn= mysql.connector.connect(
    host="localhost",
    user="root",
    password='root1234',
    database="sarika")

In [2]:
query= "SELECT * FROM  healthcare_patient"
df=pd.read_sql(query,conn)
df.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_13664\282698899.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,conn)

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025

In [3]:
df.shape

(50000, 12)

In [4]:
df.dtypes

patient_id              int64
age                     int64
gender                 object
hospital               object
department             object
diagnosis              object
length_of_stay_days     int64
treatment_cost          int64
insurance_type         object
admission_type         object
discharge_status       object
admission_year          int64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_id           50000 non-null  int64
 1   age                  50000 non-null  int64
 2   gender               50000 non-null  object
 3   hospital             50000 non-null  object
 4   department           50000 non-null  object
 5   diagnosis            50000 non-null  object
 6   length_of_stay_days  50000 non-null  int64
 7   treatment_cost       50000 non-null  int64
 8   insurance_type       50000 non-null  object
 9   admission_type       50000 non-null  object
 10  discharge_status     50000 non-null  object
 11  admission_year       50000 non-null  int64
dtypes: int64(5), object(7)
memory usage: 4.6+ MB

In [6]:
df.describe()

,patient_id,age,length_of_stay_days,treatment_cost,admission_year
count,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000
mean,25000.500000,44.46166,10.002300,252453.745060,2023.004280
std,14433.901067,26.01641,5.476212,142942.289153,1.418613
min,1.000000,0.00000,1.000000,5005.000000,2021.000000
25%,12500.750000,22.00000,5.000000,128499.500000,2022.000000
50%,25000.500000,45.00000,10.000000,251976.000000,2023.000000
75%,37500.250000,67.00000,15.000000,376144.500000,2024.000000
max,50000.000000,89.00000,19.000000,499994.000000,2025.000000

In [10]:
df.columns

Index(['patient_id', 'age', 'gender', 'hospital', 'department', 'diagnosis',
       'length_of_stay_days', 'treatment_cost', 'insurance_type',
       'admission_type', 'discharge_status', 'admission_year'],
      dtype='object')

In [11]:
df.isnull().sum()

patient_id             0
age                    0
gender                 0
hospital               0
department             0
diagnosis              0
length_of_stay_days    0
treatment_cost         0
insurance_type         0
admission_type         0
discharge_status       0
admission_year         0
dtype: int64

In [12]:
df.isna().sum()

patient_id             0
age                    0
gender                 0
hospital               0
department             0
diagnosis              0
length_of_stay_days    0
treatment_cost         0
insurance_type         0
admission_type         0
discharge_status       0
admission_year         0
dtype: int64

In [13]:
df

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,86,Male,Apollo Center,Oncology,Cancer,12,107588,Private,Referral,Recovered,2023
49996,49997,34,Male,General Hospital,Neurology,Asthma,2,202194,Private,Referral,Improved,2024
49997,49998,51,Male,Apollo Center,Neurology,Diabetes,5,150276,Government,Planned,Referred,2023
49998,49999,45,Female,CarePlus Clinic,Cardiology,Heart Disease,9,229672,Private,Referral,Improved,2023
49999,50000,65,Female,General Hospital,Neurology,Heart Disease,4,224877,Private,Planned,Recovered,2023

In [14]:
df.tail()

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year
49995,49996,86,Male,Apollo Center,Oncology,Cancer,12,107588,Private,Referral,Recovered,2023
49996,49997,34,Male,General Hospital,Neurology,Asthma,2,202194,Private,Referral,Improved,2024
49997,49998,51,Male,Apollo Center,Neurology,Diabetes,5,150276,Government,Planned,Referred,2023
49998,49999,45,Female,CarePlus Clinic,Cardiology,Heart Disease,9,229672,Private,Referral,Improved,2023
49999,50000,65,Female,General Hospital,Neurology,Heart Disease,4,224877,Private,Planned,Recovered,2023

In [15]:
df

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,86,Male,Apollo Center,Oncology,Cancer,12,107588,Private,Referral,Recovered,2023
49996,49997,34,Male,General Hospital,Neurology,Asthma,2,202194,Private,Referral,Improved,2024
49997,49998,51,Male,Apollo Center,Neurology,Diabetes,5,150276,Government,Planned,Referred,2023
49998,49999,45,Female,CarePlus Clinic,Cardiology,Heart Disease,9,229672,Private,Referral,Improved,2023
49999,50000,65,Female,General Hospital,Neurology,Heart Disease,4,224877,Private,Planned,Recovered,2023

### EDA

In [16]:
#1 most common diagnosis

In [7]:
df['diagnosis'].value_counts()

diagnosis
Hypertension     8473
Cancer           8410
Fracture         8305
Asthma           8277
Heart Disease    8269
Diabetes         8266
Name: count, dtype: int64

In [8]:
#2 which department receives the most emergency cases

In [9]:
df['department'].value_counts()

department
Neurology           8431
Orthopedics         8344
General Medicine    8329
Cardiology          8320
Pediatrics          8304
Oncology            8272
Name: count, dtype: int64

In [10]:
#3 Which age group has the highest number of admissions?  #using freature enginerring.

In [11]:
df.groupby('admission_year')['age'].sum()

admission_year
2021    449148
2022    439097
2023    437738
2024    449108
2025    447992
Name: age, dtype: int64

In [12]:
#4 Average treatment cost by department

In [13]:
df.groupby("department")['treatment_cost'].mean()

department
Cardiology          252196.767428
General Medicine    251585.353464
Neurology           253822.730044
Oncology            252203.938346
Orthopedics         251684.045662
Pediatrics          253214.552866
Name: treatment_cost, dtype: float64

In [14]:
#5 Length of stay vs treatment cost         #corr:- it is correalations functions it represents relationship bet^n 2 numberical column.

In [15]:
df[['length_of_stay_days', 'treatment_cost']].corr()

                     length_of_stay_days  treatment_cost
length_of_stay_days             1.000000       -0.003121
treatment_cost                 -0.003121        1.000000

In [16]:
#6 Average cost by admission type

In [17]:
df.groupby('admission_type')['treatment_cost'].mean()

admission_type
Emergency    251858.317405
Planned      254662.949600
Referral     250879.799442
Name: treatment_cost, dtype: float64

In [18]:
#6 Which department has the longest average stay?

In [19]:
df.groupby('department')['length_of_stay_days'].mean()

department
Cardiology          10.085697
General Medicine     9.997359
Neurology            9.931325
Oncology             9.979449
Orthopedics          9.999161
Pediatrics          10.021676
Name: length_of_stay_days, dtype: float64

In [20]:
df['age'].max()

89

In [21]:
df['age'].min()

0

In [22]:
df['age'].unique()

array([51, 14, 71, 60, 20, 82, 86, 74, 87, 23,  2, 21, 52,  1, 29, 37, 63,
       59, 32, 75, 57, 88, 48, 58, 41, 79, 61, 46, 50, 54,  6, 72, 38, 17,
        3, 13,  8, 89, 83, 70, 43,  7, 34, 77, 80, 35, 49,  5, 53, 62, 33,
       73, 47, 39, 84, 81, 25, 40, 28, 44, 64,  0, 10,  4, 27, 11, 22, 36,
       85, 26, 78, 76, 42, 12, 31, 65, 56, 69, 55, 18, 67, 16, 68, 15, 19,
       66, 30, 24, 45,  9])

In [23]:
def age_group(age):
    if age == 0:
        return "Not borned"
    elif age <= 18:
        return "Child"
    elif age <= 50:
        return "Adult"
    else:
        return "Senior Citizen"

In [24]:
df['Age Category']=df['age'].apply(age_group)
df.head()

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year,Age Category
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024,Senior Citizen
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025,Child
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021,Senior Citizen
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022,Senior Citizen
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025,Adult

In [25]:
# Which age group has the highest number of admissions?  #

In [26]:
df.groupby('Age Category')[['patient_id']].count()

                patient_id
Age Category
Adult                17613
Child                10157
Not borned             535
Senior Citizen       21695

In [27]:
# Create cost category feature
#treatment_cost < 5000 then 'low', treatment_cost < 100000 then ' Medium' , else 'High

In [28]:
def cost_category(treatment_cost):
    if treatment_cost < 5000:
        return "low"
    elif treatment_cost < 100000:
        return "Medium"
    else:
        return "High"

In [29]:
df['cost_category']=df['treatment_cost'].apply(cost_category)
df.head()

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year,Age Category,cost_category
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024,Senior Citizen,Medium
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025,Child,Medium
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021,Senior Citizen,Medium
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022,Senior Citizen,High
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025,Adult,High

In [30]:
# Create stay type (Short / Long stay)
#stay_days <= 5 then 'Short stay'
#else Long stay

In [ ]:
# Which department generates highest revenue

In [38]:
df.groupby('department')[['treatment_cost']].sum()

                  treatment_cost
department
Cardiology            2098277105
General Medicine      2095454409
Neurology             2139979437
Oncology              2086230978
Orthopedics           2100051677
Pediatrics            2102693647

In [39]:
#Recovery status percentage

In [40]:
status_counts = df['discharge_status'].value_counts()
status_percentage = (status_counts / len(df)) * 100
status_percentage

discharge_status
Recovered    75.186
Improved     17.930
Referred      4.958
Deceased      1.926
Name: count, dtype: float64

In [ ]:
#Which diagnosis has the longest average stay?

In [42]:
df.groupby('diagnosis')[['length_of_stay_days']].mean()

               length_of_stay_days
diagnosis
Asthma                   10.017518
Cancer                    9.930202
Diabetes                  9.978345
Fracture                 10.027213
Heart Disease            10.012577
Hypertension             10.047917

In [57]:
df.groupby('diagnosis')['length_of_stay_days'].mean().sort_values(ascending=False).head(1)

diagnosis
Hypertension    10.047917
Name: length_of_stay_days, dtype: float64

In [ ]:
# which age group has highest treatment cost

In [54]:
df.groupby('Age Category')[['treatment_cost']].max()

                treatment_cost
Age Category
Adult                   499994
Child                   499985
Not borned              499078
Senior Citizen          499986

In [55]:
df.groupby('Age Category')['treatment_cost'].sum()

Age Category
Adult             4453513933
Child             2562342583
Not borned         137312652
Senior Citizen    5469518085
Name: treatment_cost, dtype: int64

In [56]:
df.groupby('Age Category')['treatment_cost'].sum().sort_values(ascending=False).head(1)

Age Category
Senior Citizen    5469518085
Name: treatment_cost, dtype: int64

In [44]:
# What is the year-wise trend of patient admissions?

In [50]:
df['admission_year'].value_counts()

admission_year
2025    10103
2021    10063
2024    10046
2022     9912
2023     9876
Name: count, dtype: int64

In [49]:
df['admission_year'].value_counts().sort_index()

admission_year
2021    10063
2022     9912
2023     9876
2024    10046
2025    10103
Name: count, dtype: int64

In [47]:
#Which insurance type covers the highest average cost?

In [48]:
df.groupby('insurance_type')['treatment_cost'].mean()

insurance_type
Government    251712.275763
None          254138.080042
Private       252454.642637
Name: treatment_cost, dtype: float64

In [58]:
# create a feature for insurance type; private =2, goverment = 1, self-pay=0

In [67]:
df['insurance'] = df['insurance_type'].map({'Private': 2,'Government': 1,'Self-Pay': 0
})

In [68]:
df

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year,Age Category,cost_category,insurance_category,insurance
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024,Senior Citizen,Medium,self-pay,NaN
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025,Child,Medium,self-pay,2.0
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021,Senior Citizen,Medium,self-pay,2.0
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022,Senior Citizen,High,self-pay,1.0
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025,Adult,High,self-pay,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,86,Male,Apollo Center,Oncology,Cancer,12,107588,Private,Referral,Recovered,2023,Senior Citizen,High,self-pay,2.0
49996,49997,34,Male,General Hospital,Neurology,Asthma,2,202194,Private,Referral,Improved,2024,Adult,High,self-pay,2.0
49997,49998,51,Male,Apollo Center,Neurology,Diabetes,5,150276,Government,Planned,Referred,2023,Senior Citizen,High,self-pay,1.0
49998,49999,45,Female,CarePlus Clinic,Cardiology,Heart Disease,9,229672,Private,Referral,Improved,2023,Adult,High,self-pay,2.0
49999,50000,65,Female,General Hospital,Neurology,Heart Disease,4,224877,Private,Planned,Recovered,2023,Senior Citizen,High,self-pay,2.0

In [ ]:
#df.drop(columns=['column_name'], inplace=True)  # delete column is peremently

In [69]:
df.drop(columns=['insurance_category'],inplace=True)

In [70]:
df.head()

,patient_id,age,gender,hospital,department,diagnosis,length_of_stay_days,treatment_cost,insurance_type,admission_type,discharge_status,admission_year,Age Category,cost_category,insurance
0,1,51,Male,Apollo Center,Neurology,Diabetes,14,17812,None,Emergency,Recovered,2024,Senior Citizen,Medium,NaN
1,2,14,Female,LifeCare Hospital,Neurology,Diabetes,14,56527,Private,Emergency,Recovered,2025,Child,Medium,2.0
2,3,71,Male,City Hospital,Pediatrics,Fracture,2,33112,Private,Planned,Recovered,2021,Senior Citizen,Medium,2.0
3,4,60,Male,Apollo Center,Pediatrics,Heart Disease,9,178933,Government,Planned,Improved,2022,Senior Citizen,High,1.0
4,5,20,Male,General Hospital,Neurology,Fracture,9,208705,Government,Emergency,Recovered,2025,Adult,High,1.0